.row {
    display: flex;
}

.space {
    border: 1px solid black;
    padding: 25px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.win {
    font-weight: bold;
}

.empty {
    border-radius: 50%;
    border: 1px solid black;
    background: white;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.miss {
    border-radius: 50%;
    background: black;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.hit {
    font-size: 25px;
    font-family: sans-serif;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.hit:before {
    content: "X";
}

.win, .secondary {
    display: none;
}

.highlight {
    background: lightgreen;
}